{% extends 'layout.twig' %}

{% block title %}
    Manage Posts
{% endblock %}

{% block content %}
	<p>
		<a href="{{ 'admin/posts/create' | url }}">New Post</a>
	</p>
    <table class='table'>
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>Title</th>
    			<th>Edit</th>
    			<th>Delete</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for post in blogPosts %}
    			<tr>
    				<td>{{ post.id }}</td>
    				<td>
                        <a href="{{ 'admin/posts/details/' | url }}{{ post.id }}" title="">
                            {{ post.title }}
                        </a>
                    </td>
    				<td><a href="{{ 'admin/posts/edit/' | url }}{{ post.id }}" title="">Edit</a></td>
    				<td><a href="{{ 'admin/posts/destroy/' | url }}{{ post.id }}" title="">Delete</a></td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}

